{% macro Certificates(item) %}
  <div>
    <h2 class="d-flex justify-content-between">
      {{ item.organizationName }} - {{ item.certificateName }}
      <span>{{ item.startDate | date_to_month_year }} - {{ item.endDate | date_to_month_year }}</span>
    </h2>
    <p>{{ item.shortDescription }}</p>
  </div>
{% endmacro %}
