{% set t = {
  'en': {
    'professionalSummary': 'Professional summary',
    'keySkills': 'Key skills',
    'professionalExperience': 'Professional experience',
    'projects': 'Projects',
    'education': 'Education',
    'certificates': 'Certificates',
    'languages': 'Languages',
    'dateOfBirth': 'Date of birth',
    'nationality': 'Nationality',
    'gender': 'Gender',
    'phoneNumber': 'Phone number',
    'emailAddress': 'Email address',
    'linkedIn': 'LinkedIn',
    'website': 'Website',
    'home': 'Home',
    'aboutMe': 'About me',
    'skills': 'Skills',
    'workExperience': 'Work experience',
    'languageSkills': 'Language skills',
    'city': 'City',
    'country': 'Country'
  },
  'de': {
    'professionalSummary': "Berufszusammenfassung",
    'keySkills': "Schlüsselqualifikationen",
    'professionalExperience': "Berufserfahrung",
    'projects': "Projekte",
    'education': "Ausbildung",
    'certificates': "Zertifikate",
    'languages': "Sprachen",
    'dateOfBirth': "Geburtsdatum",
    'nationality': "Nationalität",
    'gender': "Geschlecht",
    'phoneNumber': "Telefonnummer",
    'emailAddress': "E-Mail-Adresse",
    'linkedIn': "LinkedIn",
    'website': "Website",
    'home': "Wohnort",
    'aboutMe': "Über mich",
    'skills': "Fähigkeiten",
    'workExperience': "Berufserfahrung",
    'languageSkills': "Sprachkenntnisse",
    'city': "Stadt",
    'country': "Land",
  },
  'sk': {
    'professionalSummary': "Profesionálny prehľad",
    'keySkills': "Kľúčové zručnosti",
    'professionalExperience': "Profesionálne skúsenosti",
    'projects': "Projekty",
    'education': "Vzdelanie",
    'certificates': "Certifikáty",
    'languages': "Jazyky",
    'dateOfBirth': "Dátum narodenia",
    'nationality': "Národnosť",
    'gender': "Pohlavie",
    'phoneNumber': "Telefónne číslo",
    'emailAddress': "Emailová adresa",
    'linkedIn': "LinkedIn",
    'website': "Webová stránka",
    'home': "Domov",
    'aboutMe': "O mne",
    'skills': "Zručnosti",
    'workExperience': "Pracovné skúsenosti",
    'languageSkills': "Jazykové znalosti",
    'city': "Mesto",
    'country': "Krajina",
  },
  'ua': {
    'professionalSummary': "Професійний огляд",
    'keySkills': "Ключові навички",
    'professionalExperience': "Професійний досвід",
    'projects': "Проекти",
    'education': "Освіта",
    'certificates': "Сертифікати",
    'languages': "Мови",
    'dateOfBirth': "Дата народження",
    'nationality': "Національність",
    'gender': "Стать",
    'phoneNumber': "Номер телефону",
    'emailAddress': "Електронна адреса",
    'linkedIn': "LinkedIn",
    'website': "Вебсайт",
    'home': "Дім",
    'aboutMe': "Про мене",
    'skills': "Навички",
    'workExperience': "Досвід роботи",
    'languageSkills': "Мовні знання",
    'city': "Місто",
    'country': "Країна",
  }
} %}
