{% macro Education(item) %}
  <h2 class="d-flex justify-content-between">
    {{ item.degree }}
    <span>{{ item.startDate | date_to_month_year }} - {{ item.endDate | date_to_month_year }}</span>
  </h2>
  <p>{{ item.universityName }}, {{ item.place.city }}, {{ item.place.countryOrState }}</p>
  <p>{{ major }}</p>
{% endmacro %}
