{% macro Header(data, className='') %}
  <div class="{{ 'header ' ~ className }}">
    <h1>{{ name }}</h1>
    <p class="s1">
      {{ city }}, {{ countryOrState }} 
      {%- if meta.showRelocationLine != false and willingToRelocate and willingToRelocate.city and willingToRelocate.countryOrState -%}
      {{" "}}(Willing to relocate to {{ willingToRelocate.city }}, {{ willingToRelocate.countryOrState }})
      {%- endif %}

      {{" | "}}<a href="tel:{{ phoneNumber }}">{{ phoneNumber | mask_phone_number }}</a> 

      {{" | "}}<a href="mailto:{{ email }}">{{ email }}</a> 

      {%- if linkedIn -%}
        {{" | "}}<a href="{{ linkedIn }}">{{ linkedIn }}</a>
      {%- endif %}

      {%- if website -%}
        {{" | "}}<a href="{{ website }}">{{ website }}</a>
      {%- endif %}

      {%- if github -%}
        {{" | "}}<a href="{{ github }}">{{ github }}</a>
      {%- endif %}

      {%- if meta.showVisaLine != false and workAuthorizationLine -%}
        <br />
        {{ workAuthorizationLine }}
      {%- endif %}
    </p>
  </div>
{% endmacro %}
