  {% from 'constants.jinja' import t %}
  {% from 'header.jinja' import Header %}
  {% from 'section.jinja' import Section %}
  {% from 'experience.jinja' import Experience %}
  {% from 'education.jinja' import Education %}
  {% set showCertificates = meta.showCertificates %}
  {% set showEducation = meta.showEducation %}
  {% set showLanguages = meta.showLanguages %}
  {% set showProfilePhoto = meta.showProfilePhoto %}
  {% set showProjects = meta.showProjects %}
  {% set language = language or 'en' %}

  <div class="us-cv-template printable">
    <div class="body">
      <div style="display: flex; gap: 25px;">
        <div>
          {{ Header(data, className='' if profilePhoto and showProfilePhoto else 'text-center') }}
          {% if profileSummary %}
            {% call Section(t[language].professionalSummary) %}
              <p class="text-left">{{ profileSummary }}</p>
            {% endcall %}
          {% endif %}
        </div>
        {% if showProfilePhoto and profilePhoto %}
          <img 
            class="profile-photo"
            alt="{{ name }}'s profile photo"
            src="data:image/jpeg;base64,{{ (base_url ~ '/' ~ profilePhoto) | image_to_base64_filter }}"
            width="230"
            height="260"
          />
        {% endif %}
      </div>

      {% if keySkills and keySkills|length > 0 %}
        {% call Section(t[language].keySkills) %}
          <ul>
            {% for keySkillLine in keySkills %}
              <li class="list-item">
                <b>{{ keySkillLine.title }}:</b> {{ keySkillLine.skills | join(', ') }}
              </li>
            {% endfor %}
          </ul>
        {% endcall %}
      {% endif %}

      {% if professionalExperienceList and professionalExperienceList|length > 0 %}
        {% call Section(t[language].professionalExperience) %}
          <div class="multiple-blocks-wrapper d-flex flex-column">
            {% for item in professionalExperienceList | sort(attribute='endDate', reverse=true) %}
              {{ Experience(item) }}
            {% endfor %}
          </div>
        {% endcall %}
      {% endif %}

      {% if showProjects and projects %}
        {% call Section(t[language].projects) %}
          <div class="multiple-blocks-wrapper d-flex flex-column">
            {% for item in projects %}
              <div>
                <h2 class="d-flex justify-content-between">
                  <span>{{ item.title }}</span>
                </h2>
                <ul>
                  {% for bulletPoint in item.bulletPoints %}
                    <li class="list-item">{{ bulletPoint }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>
        {% endcall %}
      {% endif %}

      {% if showEducation is not false and educationList and educationList|length > 0 %}
        {% call Section(t[language].education) %}
          {% for item in educationList | sort(attribute='endDate', reverse=true) %}
            {{ Education(item) }}
          {% endfor %}
        {% endcall %}
      {% endif %}

      {% if showCertificates is not false and certificates and certificates|length > 0 %}
        {% call Section(t[language].certificates) %}
          <div class="multiple-blocks-wrapper d-flex flex-column">
            {% for item in certificates | sort(attribute='endDate', reverse=true) %}
              {{ Certificates(item) }}
            {% endfor %}
          </div>
        {% endcall %}
      {% endif %}

      {% if showLanguages is not false and languages and languages|length > 0 %}
        {% call Section(t[language].languages) %}
          <p>{{ languages | format_languages | join(', ') }}</p>
        {% endcall %}
      {% endif %}
    </div>
  </div>
